{% extends 'base.html' %}
{% block content %}

<div class="p-5 mb-55 bg-primary text-white">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">            
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
<h1 class="text-center">Products Adding Page</h1>

<form action="" method="POST">
    {% csrf_token %}
    {{product_form}}
    <br />
    <input class="btn btn-success" type="submit" value="Add Product">


<a href="/inventory/products/">
    <!--<button class="btn btn-primary float-end m-2">Back</button>-->
    <input class="btn btn-primary float-end m-2" type="button" value="Back">
</a>
</form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}